.carousel-inner h3 {
 font-size: 20px;
 padding: 15px;
}
.carousel-inner p {
 font-size: 16px;
 padding: 10px;
}

@media all and (max-width: 768px) {
	.carousel-caption {
		bottom: -10%;
	}
	.carousel-inner h3 {
		font-size: 20px;
	}
	.carousel-inner p {
		font-size: 16px;
	}
	
	.carousel-indicators{
  display: none;
	}
	
	.contacts{
		height: 10%;
	}
	.cb1, .cb2{
		margin-top: 3%;
		min-height: 1%;
		height: 14vw;
		padding: 0;
	}
	hr{
		margin-left: 25%;
		border: 0px solid black;
  }

  .cb1 h4, .cb2 h4{
		font-size: 2.2vw;
		margin-left: 35%;
  	margin-top: 10%;
  }

  .cb1 h5, .cb2 h5{
		font-size: 1.8vw;
		margin-left: 20%;
    margin-top: -10%;
  }
	
	.links{
/* 		width: 50%; */
		margin-left: 36%;
	}
	
	.links img{
		margin-left: 18%;
		width: 13%;
		margin-top: 15%;
	}
	
	.ct h2{
		font-size: 1.8vw;
		margin-left:47.5%;
	}
	.dist_info{
		font-size: 1.4vw;
		text-indent: 1.5em;
		width: 42%;
		margin-top: 3%;
		margin-left: 5%;
		float: left;
    }
  .dist_info h3{
		font-size:1.8vw;
		margin-left: 17%;
  }
	.dist_info p{
		font-size:1.6vw;
		margin-bottom: 0;
	}
	
	
	.dt h2{
	font-size: 2vw;
/* 	margin-left:45%; */
  }
	
	.model img{
		width: 35%;
	}
	.model h2{
		font-size:2vw;
		margin-bottom: 4%;
	}
	.model p{
		font-size:1.6vw;
	}
	
	.impression p{
	font-size: 1.7vw;
	color:#2d60a3;
	text-indent: 1.5em;
		margin-bottom: 0;
  }
	.imtext{
	box-shadow:
	0 0 0 5px #fff,
	0 0 0 10px #6995C4;
  }
	table {
		margin-top: 5%;
	font-size: 1.7vw;
  }
	.subjects h1{
		font-size: 2.4vw;
		margin-left: 35%;
	}
	.fio{
		margin-top:3%; 
	}
	.fio p{
	margin-top: 0.5%;
	font-size: 1.6vw;
  }
	.fio h1{
		font-size: 2.8vw;
	}
	.descr{
		margin-bottom: 0;
	}
	.prof img{
		margin-left: 43%;
	border: 4px solid white;
  }
	.menu li{
		font-size: 1.8vw;
		margin-left: 8vw;
	}
	#li5{
	margin-left: 22%;
	margin-right: 0%;
  }
}
